/******************************************************************************
Author:  Jesse Shewfelt
Updated: 28/03/2020
******************************************************************************/
body, html{
    margin: 0;
    padding: 0;
}